<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.anconaesselmann.app.SwiftUI.AppState</string>
	<key>Ancestors</key>
	<array>
		<string>com.anconaesselmann.multiPlatform.app.SwiftUI.AppState</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a multi-platform SwiftUI application with AppState.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>NameOfInitialFileForEditor</key>
	<string>ContentView.swift</string>
	<key>Platforms</key>
	<array/>
	<key>Nodes</key>
	<array>
		<string>App/AppState.swift</string>
		<string>LoadableResult.swift</string>
		<string>App/AppInitializer.swift</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>App/AppInitializer.swift</key>
		<dict>
			<key>Group</key>
			<string>App</string>
			<key>Path</key>
			<string>AppInitializer.swift</string>
			<key>SortOrder</key>
			<integer>49</integer>
		</dict>
		<key>LoadableResult.swift</key>
		<dict>
			<key>Path</key>
			<string>LoadableResult.swift</string>
		</dict>
		<key>App/AppState.swift</key>
		<dict>
			<key>Group</key>
			<string>App</string>
			<key>Path</key>
			<string>AppState.swift</string>
			<key>SortOrder</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasUnitAndUITests</string>
			<key>Name</key>
			<string>Include Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>300</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.multiPlatform.app.SwiftUI.tests.unit</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.multiPlatform.app.SwiftUI.tests.ui</string>
							<key>Name</key>
							<string>___PACKAGENAME___UITests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
